@charset "utf-8";
/* CSS Document */
/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');+ @import url("https://use.typekit.net/pkp8osu.css");

/* Styles for the body */

body {
	font-family: "Open Sans" "Segoe UI", "Helvetica Neue" sans-serif;
	color: #202030;
	background-color: #f8f8fc;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.custom-heading {
font-family: "groupie-gloss" !important;
font-style: normal;
font-weight: 400;
font-size: 100px;
color: #B42B4f;
	text-shadow: 8px 8px #FFF1B9;

}
.resume-header {
    background-color: #88A649;
}

.resume-main {
    background-color: #FFFFFF
}

.resume-aside {
	background-color: #C7D989;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #EE7623;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
.subtext-header {
	padding-right: 60px;
	font-size: 20px
}
.language-progress {
	background-color: #D96281 !important;
}
.aboutme {
	font-family: "Monaco" "monospace";
	text-align: left;
	font-style: italic;
	color: #FFCC00;
}
.title-biographycontent {
	text-decoration: underline #ffcc00;
	font-family: "groupie-gloss" !important;
	font-style: small;
	font-weight: lighter;
	font-size: 50px
}
.headingsinbiography {
	font-style: small;
	font-style: italic;
}
.biography-list {
	padding-left: 50px;
}
.contactbox {
	background: linear-gradient(to top right, #ffcccc 0%, #FFF1B9 100%);
	padding-top: 1px;
	padding-bottom: 1px;
	border: 1px dashed #88A649;
	margin: 2px;
}
